body {
    background: url("./assets/images/calmsea.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #555555;
    margin: 0;
}

*:not(.fa) {
    font-family: 'Clear Sans', sans-serif !important;
}

.hf-dark {
    color: #266DAD;
}

.logo-large {
    font-size: 15vh;
    text-align: center;
}

.logo-small {
    font-size: 20px;
    text-align: center;
}

.well {
    opacity: 1;
    position: absolute;
    border: none;
    background: rgba(255, 245, 238, 0.75);
    box-shadow: 0 0 100px 100px rgba(255, 245, 238, 0.75);
    border-radius: 20px;
}

@media (max-width: 1200px) {
    .well {
        width: 60vw;
        left: 20vw;
        padding: 15px;
        top: 25vh;
    }
}

@media (min-width: 1200px) {
    .well {
        width: 42vw;
        left: 29vw;
        padding: 15px;
        top: 25vh;
    }
}

a {
    color: #266DAD;
    text-decoration: none;
}

a:hover {
    color: seashell;
    text-decoration: none;
}

h3 .text-center {
    white-space: nowrap;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.text-center {
    text-align: center
}

.pull-right {
  text-align: right;
}

.copyright a {
  color: black !important;
}

.copyright a:hover {
  color: white !important;
}

.copyright {
  color: #1c3d6e !important;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  border: solid rgba(255, 255, 255, 0.05) 5px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: small;
}

.copyright:hover {
  background: rgba(255, 255, 255, 0.5);
  border: solid rgba(255, 255, 255, 0.2) 5px;
}

.tab-folder > .tab-content:target ~ .tab-content:last-child, .tab-folder > .tab-content {
    display: none;
}

.tab-folder > :last-child, .tab-folder > .tab-content:target {
    display: block;
}

#menu {
    list-style-type: none;
}

#menu li {
    float: left;
    /*width: 99px; */
    border-right: 1px solid #999;
}

#menu li:hover {
    border-right: 1px solid #fff;
}

#menu li a {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    text-align: center;
    z-index: 10;
}

#menu li a:hover {
    background: #fff;
    color: #555555;
    text-decoration: none;
    border-right: none;
}

#menu li:last-child {
    border-right: none;
}

#boxes {
    display: inline-block;
    padding: 10px 20px;
}

#contact {
    padding-right: 50px;
}
